In [1]:
import pymongo 
# ! pip install pymongo

In [2]:
from datetime import datetime as dt
import datetime
import pandas as pd
import numpy as np

### Connect to to GreenCloud DB

In [4]:
user = ''
pw = ''

In [5]:
client = pymongo.MongoClient(f"mongodb+srv://{user}:{pw}@greencloud.e1prl9a.mongodb.net/?retryWrites=true&w=majority")

In [6]:
db = client.GreenCloud
collection = db.soil_data

In [7]:
collection.find_one()

{'_id': ObjectId('634118951e6cc20ab24d8dd9'),
 'temperature': 28.6,
 'humidity': 0.0,
 'datetime': datetime.datetime(2022, 10, 8, 6, 28, 37, 465000)}

### Insert

In [36]:
record = [{'temperature': 28.6, 'humidity': 0.0, 'datetime': datetime.datetime(2022, 11, 8, 6, 28, 37, 465000), 'sensor_id': 'S0001'},
         {'temperature': 28.6, 'humidity': 0.0, 'datetime': datetime.datetime(2022, 11, 8, 6, 28, 37, 465000), 'sensor_id': 'S0002'}]
ins = collection.insert_many(record)

In [37]:
ids = ins.inserted_ids

In [38]:
ids[0]

ObjectId('6348f5e0b101c802e1ded497')

### Find

In [44]:
from bson.objectid import ObjectId
query1 = {'_id': ids[0]}# search by _id
'''
lt  - Less Than
lte - Less Than Equals
gt  - Greater Than
gte - Greater Than Equals
ne  - Not Equals
'''
query2 = {'humidity': {'$gte': 0, '$lt':10}} 
query3 = {'datetime': {'$lte': datetime.datetime(2022, 11, 8, 6, 28, 37, 465000)}}
query4 = {'sensor_id': {'$regex': 'S*1'}}

In [45]:
cursor = collection.find(query1)
list(cursor)

[{'_id': ObjectId('6348f5e0b101c802e1ded497'),
  'temperature': 28.6,
  'humidity': 0.0,
  'datetime': datetime.datetime(2022, 11, 8, 6, 28, 37, 465000),
  'sensor_id': 'S0001'}]

Find, project, sort, limit

In [53]:
projection = {'_id':1,'datetime':1,'humidity':1,'sensor_id':1} 
cursor = collection.find({'$and':[query2, query3,query4]}, projection).sort('datetime',1).limit(5)
list(cursor)

[{'_id': ObjectId('6348e03ae4aec5d9936f92b9'),
  'datetime': datetime.datetime(2022, 11, 8, 6, 28, 37, 465000),
  'sensor_id': 'S0001',
  'humidity': 0.0},
 {'_id': ObjectId('6348e03ae4aec5d9936f92ba'),
  'datetime': datetime.datetime(2022, 11, 8, 6, 28, 37, 465000),
  'sensor_id': 'S0001',
  'humidity': 0.0},
 {'_id': ObjectId('6348f5e0b101c802e1ded497'),
  'humidity': 0.0,
  'datetime': datetime.datetime(2022, 11, 8, 6, 28, 37, 465000),
  'sensor_id': 'S0001'}]

### Update


$currentDate
Sets the value of a field to current date, either as a Date or a Timestamp.

$inc
Increments the value of the field by the specified amount.

$min
Only updates the field if the specified value is less than the existing field value.

$max
Only updates the field if the specified value is greater than the existing field value.

$mul
Multiplies the value of the field by the specified amount.

$rename
Renames a field.

$set
Sets the value of a field in a document.

$setOnInsert
Sets the value of a field if an update results in an insert of a document. Has no effect on update operations that modify existing documents.

$unset
Removes the specified field from a document.

In [13]:
cursor = collection.find(query1)
list(cursor)

[{'_id': ObjectId('6348ef3cb101c802e1ded495'),
  'temperature': 28.6,
  'humidity': 0.0,
  'datetime': datetime.datetime(2022, 11, 8, 6, 28, 37, 465000),
  'sensor_id': 'S0001'}]

In [14]:
# add substract multiple divide
collection.update_one(query1, [{'$set':{'datetime': {'$add':['$datetime', 7*60*60*1000]}}}])

In [15]:
cursor = collection.find(query1)
list(cursor)

[{'_id': ObjectId('6348ef3cb101c802e1ded495'),
  'temperature': 28.6,
  'humidity': 0.0,
  'datetime': datetime.datetime(2022, 11, 8, 13, 28, 37, 465000),
  'sensor_id': 'S0001'}]

In [ ]:
# update data type
d = collection.update_many({}, [{'$set': {'date_time': {'$toDate': '$datetime'}}}])

#### rename

In [20]:
# rename field
d = collection.update_many({},{'$rename':{'RH':'humidity'}})
d.modified_count

20

In [ ]:
# rename collection
collection.rename(new_name, dropTarget = True)

### Delete

In [67]:
query5 = {'_id':ids[1]}

In [68]:
d = collection.delete_many(query5)
print(d.deleted_count, ' documents deleted. ', collection.estimated_document_count(), ' remains.', sep='')

1 documents deleted. 51 remains.

### Aggregations

https://www.mongodb.com/docs/manual/reference/operator/aggregation/group/

In [66]:
agr = [{ '$match': {'$and': [ { 'sensor_id': 'S0001' }, { 'datetime': {'$gt': datetime.datetime(2022, 11, 8, 13, 28, 37, 0)} }] }}, 
       {'$group': {'_id': 1, 'avg_tmp': { '$max': '$temperature' }}}] # sum avg
list(collection.aggregate(agr))

[{'_id': 1, 'avg_tmp': 28.6}]

###