In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('C:/MSDA/data245/Coding/data/train.csv')
dft = pd.read_csv('C:/MSDA/data245/Coding/data/test.csv')

df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [67]:
df = pd.read_csv('C:/MSDA/data245/Coding/data/train.csv')
print(df.columns)

df.drop(columns=['PassengerId','Name','Ticket','Fare','Cabin','Age'], inplace = True) # drop Cabin ?
df['Pclass'] = df['Pclass'].replace([1,2,3], ['1st', '2nd', '3rd'])
df['Survived'] = df['Survived'].replace([1,0], ['T', 'F'])
df['SibSp'] = df['SibSp'].replace([0, 1, 2, 3, 4, 5, 6, 7, 8], ['zero','one', 'two','three','four','five','six','seven','eight'])
df['Parch'] = df['Parch'].replace([0, 1, 2, 3, 4, 5, 6, 7, 8], ['zero','one', 'two','three','four','five','six','seven','eight'])
'''X = df.drop(columns=['Survived'])
Y = df.Survived'''
df

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

    Survived Pclass     Sex SibSp Parch Embarked
0          F    3rd    male   one  zero        S
1          T    1st  female   one  zero        C
2          T    3rd  female  zero  zero        S
3          T    1st  female   one  zero        S
4          F    3rd    male  zero  zero        S
..       ...    ...     ...   ...   ...      ...
886        F    2nd    male  zero  zero        S
887        T    1st  female  zero  zero        S
888        F    3rd  female   one   two        S
889        T    1st    male  zero  zero        C
890        F    3rd    male  zero  zero        Q

[891 rows x 6 columns]

In [5]:
def data_cleaning(df):
    df = df[['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'Survived']]
    df.drop(columns=['PassengerId','Name','Ticket','Cabin','Age'], inplace = True) # drop Cabin ?
    df['Pclass'] = df['Pclass'].replace([1,2,3], ['1st', '2nd', '3rd'])
    df['Survived'] = df['Survived'].replace([1,0], ['T', 'F'])
    df['SibSp'] = df['SibSp'].replace([0, 1, 2, 3, 4, 5, 6, 7, 8], ['zero','one', 'two','three','four','five','six','seven','eight'])
    df['Parch'] = df['Parch'].replace([0, 1, 2, 3, 4, 5, 6, 7, 8], ['zero','one', 'two','three','four','five','six','seven','eight'])
    df['Embarked'] = df['Embarked'].replace(np.NaN, 'nan')
    return df

In [7]:
dft = data_cleaning(dft)
dft

KeyError: "['Name', 'Ticket', 'PassengerId', 'Age', 'Cabin'] not in index"

In [317]:
df['Embarked'] = df['Embarked'].replace(np.NaN, 'nan')

C:\Users\Rui7803\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [285]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [166]:
df[df.Embarked.isnull()]

Empty DataFrame
Columns: [Survived, Pclass, Sex, SibSp, Parch, Embarked]
Index: []

In [306]:
def entropy(l):
    """
    Calculate the entropy of a series of data.
    col: the series of data.
    """
    return (-sum([0 if i == 0 else i*np.log2(i) for i in l])/len(l))

In [358]:
def InfoGain(df,attribute, target = 'Survived'):
    '''
    total_entropy: totoal entropy. use the target col to calculate.
    ig = total entropy - reminder
    
    '''
    t_values = df[target].unique()
    fraction_t = []
    for value in t_values:
        fraction_t.append(df[target].value_counts()[value]/len(df))
    entropy_total = entropy(fraction_t)
    w = []
    ent_p = []
    variables = np.unique(list(df[attribute]))
    ent_rem = 0
    for variable in variables:
        fraction = []
        for target_variable in t_values:
            num = len(df[attribute][df[attribute]==variable][df[target] ==target_variable]) #numerator
            den = len(df[attribute][df[attribute]==variable])  #denominator
            #print(target_variable, variable, num, den, num/den)
            fraction.append(np.array(num/den))
        ent_rem += entropy(fraction) * (den/len(df)) # sum of weighted entropy = reminder
    #print('entropy',ent_p, 'w', w, 'fraction', fraction)
    ig = entropy_total - ent_rem
    return ig

In [313]:
def ID3(data,originaldata,features,target_attribute_name="Survived",parent_node_class = None):
    """
    ID3 Algorithm: This function takes five paramters:
    1. data = the data for which the ID3 algorithm should be run --> In the first run this equals the total dataset
 
    2. originaldata = This is the original dataset needed to calculate the mode target feature value of the original dataset
    in the case the dataset delivered by the first parameter is empty

    3. features = the feature space of the dataset . This is needed for the recursive call since during the tree growing process
    we have to remove features from our dataset --> Splitting at each node

    4. target_attribute_name = the name of the target attribute

    5. parent_node_class = This is the value or class of the mode target feature value of the parent node for a specific node. This is 
    also needed for the recursive call since if the splitting leads to a situation that there are no more features left in the feature
    space, we want to return the mode target feature value of the direct parent node.
    """   
    #Define the stopping criteria --> If one of this is satisfied, we want to return a leaf node#
    
    #If all target_values have the same value, return this value
    if len(np.unique(data[target_attribute_name])) <= 1:
        return np.unique(data[target_attribute_name])[0]
    
    #If the dataset is empty, return the mode target feature value in the original dataset
    elif len(data)==0:
        return np.unique(originaldata[target_attribute_name])[np.argmax(np.unique(originaldata[target_attribute_name],return_counts=True)[1])]
    
    #If the feature space is empty, return the mode target feature value of the direct parent node --> Note that
    #the direct parent node is that node which has called the current run of the ID3 algorithm and hence
    #the mode target feature value is stored in the parent_node_class variable.
    
    elif len(features) ==0:
        return parent_node_class
    
    #If none of the above holds true, grow the tree!
    
    else:
        #Set the default value for this node --> The mode target feature value of the current node
        parent_node_class = np.unique(data[target_attribute_name])[np.argmax(np.unique(data[target_attribute_name],return_counts=True)[1])]
        
        #Select the feature which best splits the dataset
        item_values = [InfoGain(data,feature,target_attribute_name) for feature in features] #Return the information gain values for the features in the dataset
        best_feature_index = np.argmax(item_values)
        best_feature = features[best_feature_index]
        
        #Create the tree structure. The root gets the name of the feature (best_feature) with the maximum information
        #gain in the first run
        tree = {best_feature:{}}
        
        
        #Remove the feature with the best inforamtion gain from the feature space
        features = [i for i in features if i != best_feature]
        
        #Grow a branch under the root node for each possible value of the root node feature
        
        for value in np.unique(data[best_feature]):
            value = value
            #Split the dataset along the value of the feature with the largest information gain and therwith create sub_datasets
            sub_data = data.where(data[best_feature] == value).dropna()
            
            #Call the ID3 algorithm for each of those sub_datasets with the new parameters --> Here the recursion comes in!
            subtree = ID3(sub_data,data,features,target_attribute_name,parent_node_class)
            
            #Add the sub tree, grown from the sub_dataset to the tree under the root node
            tree[best_feature][value] = subtree
            
        return(tree)

In [314]:
def predict(query,tree,default = 1):
    """
    Prediction of a new/unseen query instance. This takes two parameters:
    1. The query instance as a dictionary of the shape {"feature_name":feature_value,...}

    2. The tree 


    We do this also in a recursive manner. That is, we wander down the tree and check if we have reached a leaf or if we are still in a sub tree. 
    Since this is a important step to understand, the single steps are extensively commented below.

    1.Check for every feature in the query instance if this feature is existing in the tree.keys() for the first call, 
    tree.keys() only contains the value for the root node 
    --> if this value is not existing, we can not make a prediction and have to 
    return the default value which is the majority value of the target feature

    2. First of all we have to take care of a important fact: Since we train our model with a database A and then show our model
    a unseen query it may happen that the feature values of these query are not existing in our tree model because non of the
    training instances has had such a value for this specific feature. 
    For instance imagine the situation where your model has only seen animals with one to four
    legs - The "legs" node in your model will only have four outgoing branches (from one to four). If you now show your model
    a new instance (animal) which has for the legs feature the vale 5, you have to tell your model what to do in such a 
    situation because otherwise there is no classification possible because in the classification step you try to 
    run down the outgoing branch with the value 5 but there is no such a branch. Hence: Error and no Classification!
    We can address this issue with a classification value of for instance (999) which tells us that there is no classification
    possible or we assign the most frequent target feature value of our dataset used to train the model. Or, in for instance 
    medical application we can return the most worse case - just to make sure... 
    We can also return the most frequent value of the direct parent node. To make a long story short, we have to tell the model 
    what to do in this situation.
    In our example, since we are dealing with animal species where a false classification is not that critical, we will assign
    the value 1 which is the value for the mammal species (for convenience).

    3. Address the key in the tree which fits the value for key --> Note that key == the features in the query. 
    Because we want the tree to predict the value which is hidden under the key value (imagine you have a drawn tree model on 
    the table in front of you and you have a query instance for which you want to predict the target feature 
    - What are you doing? - Correct:
    You start at the root node and wander down the tree comparing your query to the node values. Hence you want to have the
    value which is hidden under the current node. If this is a leaf, perfect, otherwise you wander the tree deeper until you
    get to a leaf node. 
    Though, you want to have this "something" [either leaf or sub_tree] which is hidden under the current node
    and hence we must address the node in the tree which == the key value from our query instance. 
    This is done with tree[keys]. Next you want to run down the branch of this node which is equal to the value given "behind"
    the key value of your query instance e.g. if you find "legs" == to tree.keys() that is, for the first run == the root node.
    You want to run deeper and therefore you have to address the branch at your node whose value is == to the value behind key.
    This is done with query[key] e.g. query[key] == query['legs'] == 0 --> Therewith we run down the branch of the node with the
    value 0. Summarized, in this step we want to address the node which is hidden behind a specific branch of the root node (in the first run)
    this is done with: result = [key][query[key]]

    4. As said in the 2. step, we run down the tree along nodes and branches until we get to a leaf node.
    That is, if result = tree[key][query[key]] returns another tree object (we have represented this by a dict object --> 
    that is if result is a dict object) we know that we have not arrived at a root node and have to run deeper the tree. 
    Okay... Look at your drawn tree in front of you... what are you doing?...well, you run down the next branch... 
    exactly as we have done it above with the slight difference that we already have passed a node and therewith 
    have to run only a fraction of the tree --> You clever guy! That "fraction of the tree" is exactly what we have stored
    under 'result'.
    So we simply call our predict method using the same query instance (we do not have to drop any features from the query
    instance since for instance the feature for the root node will not be available in any of the deeper sub_trees and hence 
    we will simply not find that feature) as well as the "reduced / sub_tree" stored in result.

    SUMMARIZED: If we have a query instance consisting of values for features, we take this features and check if the 
    name of the root node is equal to one of the query features.
    If this is true, we run down the root node outgoing branch whose value equals the value of query feature == the root node.
    If we find at the end of this branch a leaf node (not a dict object) we return this value (this is our prediction).
    If we instead find another node (== sub_tree == dict objct) we search in our query for the feature which equals the value 
    of that node. Next we look up the value of our query feature and run down the branch whose value is equal to the 
    query[key] == query feature value. And as you can see this is exactly the recursion we talked about
    with the important fact that for each node we run down the tree, we check only the nodes and branches which are 
    below this node and do not run the whole tree beginning at the root node 
    --> This is why we re-call the classification function with 'result'
    """
    
    
    #1.
    for key in list(query.keys()):
        if key in list(tree.keys()):
            #2.
            try:
                result = tree[key][query[key]] 
            except:
                return default
  
            #3.
            result = tree[key][query[key]]
            #4.
            if isinstance(result,dict):
                return predict(query,result)

            else:
                return result

In [376]:
def test(data,tree):
    queries = data.to_dict(orient = "records")
    predicted = pd.DataFrame(columns=["predicted"]) 
    
    #Calculate the prediction accuracy
    for i in range(len(data)):
        predicted.loc[i,"predicted"] = predict(queries[i],tree) 
    print('The prediction accuracy is: ',(np.sum(predicted["predicted"] == data["Survived"])/len(data))*100,'%')
    return predicted

In [384]:
tree = ID3(df[:400],df[:400],df.columns[:-1])
testing_data = df[800:]#pd.read_csv('C:/MSDA/data245/Coding/data/test.csv')
pre = test(testing_data,tree)

ValueError: Can only compare identically-labeled Series objects

In [389]:
pre

    predicted
0           F
1           T
2           T
3           T
4           F
..        ...
886         F
887         T
888         1
889         F
890         F

[891 rows x 1 columns]

In [334]:
from pprint import pprint
pprint(tree)

{'Sex': {'female': {'Pclass': {'1st': {'Parch': {'one': 'T',
                                                 'two': {'SibSp': {'one': {'Embarked': {'S': 'F'}},
                                                                   'three': 'T',
                                                                   'two': 'T',
                                                                   'zero': 'T'}},
                                                 'zero': {'SibSp': {'one': 'T',
                                                                    'two': 'T',
                                                                    'zero': {'Embarked': {'C': 'T',
                                                                                          'S': 'T',
                                                                                          'nan': 'T'}}}}}},
                               '2nd': {'Parch': {'one': {'SibSp': {'one': {'Embarked': {'S': 'T'}},
                                                                   'two': 'T',
                                                                   'zero': 'T'}},
                                                 'three': 'T',
                                                 'two': 'T',
                                                 'zero': {'Embarked': {'C': 'T',
                                                                       'Q': 'T',
                                                                       'S': {'SibSp': {'one': 'T',
                                                                                       'three': 'T',
                                                                                       'zero': 'T'}}}}}},
                               '3rd': {'Embarked': {'C': {'SibSp': {'one': {'Parch': {'one': 'T',
                                                                                      'zero': 'F'}},
                                                                    'two': 'T',
                                                                    'zero': {'Parch': {'one': 'T',
                                                                                       'two': 'T',
                                                                                       'zero': 'T'}}}},
                                                    'Q': {'Parch': {'one': 'F',
                                                                    'two': 'F',
                                                                    'zero': {'SibSp': {'one': 'T',
                                                                                       'two': 'T',
                                                                                       'zero': 'T'}}}},
                                                    'S': {'SibSp': {'eight': 'F',
                                                                    'five': 'F',
                                                                    'four': {'Parch': {'two': 'F'}},
                                                                    'one': {'Parch': {'five': 'F',
                                                                                      'four': 'F',
                                                                                      'one': 'F',
                                                                                      'six': 'F',
                                                                                      'three': 'F',
                                                                                      'zero': 'F'}},
                                                                    'three': {'Parch': {'one': 'F',
                                                                                        'two': 'F',
                                                                                        'zero': 'T'}},
                                                                    'two': 'F',
                                                                    'zero': {'Parch': {'five': 'F',
                                                                                       'four': 'F',
                                                                                       'one': 'F',
                                                                                       'two': 'F',
                                                                                       'zero': 'F'}}}}}}}},
         'male': {'Pclass': {'1st': {'SibSp': {'one': {'Parch': {'four': 'F',
                                                                 'one': {'Embarked': {'C': 'F',
                                                                                      'S': 'F'}},
                                                                 'two': 'T',
                                                                 'zero': {'Embarked': {'C': 'F',
                                                                                       'S': 'F'}}}},
                                               'three': 'F',
                                               'two': {'Embarked': {'Q': 'F',
                                                                    'S': 'T'}},
                                               'zero': {'Parch': {'one': {'Embarked': {'C': 'F',
                                                                                       'S': 'F'}},
                                                                  'two': {'Embarked': {'C': 'F',
                                                                                       'S': 'T'}},
                                                                  'zero': {'Embarked': {'C': 'F',
                                                                                        'S': 'F'}}}}}},
                             '2nd': {'Parch': {'one': {'SibSp': {'one': {'Embarked': {'S': 'T'}},
                                                                 'two': {'Embarked': {'S': 'F'}}}},
                                               'two': {'SibSp': {'one': 'F',
                                                                 'zero': {'Embarked': {'S': 'F'}}}},
                                               'zero': {'SibSp': {'one': {'Embarked': {'C': 'F',
                                                                                       'S': 'F'}},
                                                                  'two': 'F',
                                                                  'zero': {'Embarked': {'C': 'F',
                                                                                        'Q': 'F',
                                                                                        'S': 'F'}}}}}},
                             '3rd': {'Embarked': {'C': {'SibSp': {'one': {'Parch': {'one': 'F',
                                                                                    'zero': 'F'}},
                                                                  'two': 'F',
                                                                  'zero': {'Parch': {'zero': 'F'}}}},
                                                  'Q': {'SibSp': {'four': 'F',
                                                                  'one': 'F',
                                                                  'two': 'T',
                                                                  'zero': {'Parch': {'zero': 'F'}}}},
                                                  'S': {'SibSp': {'eight': 'F',
                                                                  'five': 'F',
                                                                  'four': {'Parch': {'one': 'F',
                                                                                     'two': 'F'}},
                                                                  'one': {'Parch': {'five': 'F',
                                                                                    'four': 'F',
                                                                                    'one': 'F',
                                                                                    'three': 'F',
                                                                                    'two': 'F',
                                                                                    'zero': 'F'}},
                                                                  'three': 'F',
                                                                  'two': 'F',
                                                                  'zero': {'Parch': {'one': 'F',
                                                                                     'two': 'F',
                                                                                     'zero': 'F'}}}}}}}}}}

In [368]:
#ig_d = {k:DT(df,k) for k in df.keys()[1:]}
#[DT(df, k) for k in df.keys()[1:]]
ig_d = {k:InfoGain(df,k) for k in df.keys()[:-1]}

ig_d

{'Pclass': 0.0419155226480058,
 'Sex': 0.1088300533303071,
 'SibSp': 0.016733160669354985,
 'Parch': 0.011805273816735296,
 'Embarked': 0.012023545353980258}

In [392]:
def max_ig(list_ig):
    val_k = list(ig_d.keys())
    val_v = list(ig_d.values())
    return val_k[val_v.index(max(val_v))]
max_ig(ig_d)

'Sex'

In [394]:
tree = dict()
tree = {}

KeyError: 'Sex'

In [ ]:
# dfmale = df[df.Sex == 'male'].drop(columns = ['Sex'])
dffemale = df[df.Sex == 'female'].drop(columns = ['Sex'])
root_node = 'Sex'

In [359]:
ig_sex1 = {k:InfoGain(df,k) for k in dfmale.keys()[1:]}
ig_sex2 = {k:InfoGain(df,k) for k in dffemale.keys()[1:]}
print(ig_sex1)
print(ig_sex2)

{'Pclass': 0.0419155226480058, 'SibSp': 0.016733160669354985, 'Parch': 0.011805273816735296, 'Embarked': 0.012023545353980258}
{'Pclass': 0.0419155226480058, 'SibSp': 0.016733160669354985, 'Parch': 0.011805273816735296, 'Embarked': 0.012023545353980258}

In [186]:
df[(df.Sex == 'male')&(df.Pclass == '1st')].Survived.value_counts()

F    77
T    45
Name: Survived, dtype: int64

In [362]:
max(ig_sex1.values())

0.0419155226480058